<div class="theming-inner">
  <div class="error display-none">
    {{! content dynamically replaced with error messages }}
  </div>
  <div class="description">
    {{{t 'app.themingdesc'}}}
  </div>
  <div class="live-view">
    {{{t 'app.liveviewdesc'}}}
  </div>
  <div class="title">{{t 'app.choosethemetitle'}}</div>
  <div class="description">{{{t 'app.choosethemedesc'}}}</div>
  <div class="theme-selector">
    <div class="theme tile">
      <label>{{t 'app.themeselectlabel'}}</label>
      <select id="theme" disabled="true">
        <option value="" disabled selected>{{t 'app.themeselectinstr'}}</option>
      </select>
    </div>
    <div class="preset tile">
      <label>{{t 'app.presetselectlabel'}}</label>
      <select id="preset" disabled="true">
        <option value="" disabled selected>{{t 'app.presetselectinstr'}}</option>
      </select>
    </div>
    <div class="buttons-container">
      <button href="" class="edit btn btn-info"><i class="fa fa-pencil-square-o"></i> {{t 'app.presetedit'}}</button>
      <button href="" class="reset btn btn-alert"><i class="fa fa-undo"></i> {{t 'app.restoredefaults'}}</button>
    </div>
  </div>
  <div class="theme-customiser">
    <div class="title">{{t 'app.customisethemetitle'}}</div>
    <div class="description">{{{t 'app.customisethemedesc'}}}</div>
    <div class="form-container">
      {{! Leave this div empty, anything inside will be replaced with the form. }}
    </div>
  </div>
</div>
